@tailwind base
@tailwind components
@tailwind utilities

@import url('http://fonts.cdnfonts.com/css/segoe-ui-4')
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9')
@import url('http://fonts.cdnfonts.com/css/helvetica-255')

body
   background-color: theme('colors.color1')
   font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif

@layer utilities
   .scrollbar
      scrollbar-color: red white
      scrollbar-width: thin

      &::-webkit-scrollbar
         width: 6px

      &::-webkit-scrollbar-track
         background-color: theme('colors.color1')

      &::-webkit-scrollbar-thumb
         background-color: #374045


#basic-menu
   .MuiPopover-paper
      border-radius: unset
      background-color: #233138
      color: #d1d7db

      ul
         li
            font-family: inherit

            &:hover
               background-color: #182229

.MessageActions
   background: radial-gradient(at top right,rgba(0,92,75,1) 60%,rgba(0,92,75,0) 80%)

.MessageActionsLeft
   background: radial-gradient(at top right,rgba(32,44,51,1) 60%,rgba(32,44,51,0) 80%)
